<div id="poodllsubtitle_dialogue_box_actions" class="poodllsubtitle_dialogue_box psubtitle_dialogue_box_actions hide">
    <div class="poodllsubtitle_close_modal">
    <i class="fa fa-window-close" aria-hidden="true"></i>
    </div>
    <div class="poodllsubtitle_dialogue_content"><strong>{{#str}}dialogactionsheader, atto_subtitle{{/str}}</strong></div>
    <div class="will_be_cleared"></div>
</div>