{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_calendar/view_selector

    This template renders display dropdown.

    Example context (json):
    {
        "viewingmonth": false,
        "viewingday": false,
        "viewingweek": true,
        "viewingupcoming": false
    }
}}
<div data-region="view-selector">
    <button id="calendarviewdropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="d-sm-inline-block" data-active-item-text>
            {{#viewingmonth}}{{#str}} month {{/str}}{{/viewingmonth}}
            {{#viewingday}}{{#str}} day, core_calendar {{/str}}{{/viewingday}}
            {{#viewingweek}}{{#str}} week, core_calendar {{/str}}{{/viewingweek}}
            {{#viewingupcoming}}{{#str}} upcomingevents, core_calendar {{/str}}{{/viewingupcoming}}
        </span>
    </button>
    <ul class="dropdown-menu" data-show-active-item aria-labelledby="calendarviewdropdown">
        <li>
            <a class="dropdown-item {{#viewingmonth}}active{{/viewingmonth}}" href="#" data-view="month"
                data-year="{{date.year}}" data-month="{{date.mon}}" data-day="{{date.mday}}" data-courseid="{{courseid}}" data-categoryid="{{categoryid}}">
                {{#str}} month {{/str}}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{#viewingday}}active{{/viewingday}}" href="#" data-view="day" data-year="{{date.year}}" data-month="{{date.mon}}"
                data-day="{{date.mday}}" data-courseid="{{courseid}}" data-categoryid="{{categoryid}}">
                {{#str}} day, core_calendar {{/str}}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{#viewingweek}}active{{/viewingweek}}" href="#" data-view="week"
                data-year="{{date.year}}" data-month="{{date.mon}}" data-day="{{date.mday}}" data-courseid="{{courseid}}" data-categoryid="{{categoryid}}">
                {{#str}} week, core_calendar {{/str}}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{#viewingupcoming}}active{{/viewingupcoming}}" href="#" data-view="upcoming"
                data-year="{{date.year}}" data-month="{{date.mon}}" data-day="{{date.mday}}" data-courseid="{{courseid}}" data-categoryid="{{categoryid}}">
                {{#str}} upcomingevents, core_calendar {{/str}}
            </a>
        </li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // jQuery click event handler for the week view link
    $('a[data-view="week"]').on('click', function(e) {
        e.preventDefault(); // Prevent default link behavior

        // Retrieve data attributes from the clicked link
        var year = $(this).data('year');
        var month = $(this).data('month');
        var day = $(this).data('day');
        var courseid = $(this).data('courseid');
        var categoryid = $(this).data('categoryid');

        // Construct the URL for redirection to view.php with parameters
        var url = 'view.php';
        url += '?view=week';
        url += '&year=' + year;
        url += '&month=' + month;
        url += '&day=' + day;
        url += '&courseid=' + courseid;
        url += '&categoryid=' + categoryid;

        // Redirect to the constructed URL
        window.location.href = url;
    });

     // jQuery click event handler for the month view link
    $('a[data-view="month"]').on('click', function(e) {
        e.preventDefault(); // Prevent default link behavior

        // Retrieve data attributes from the clicked link
        var year = $(this).data('year');
        var month = $(this).data('month');
        var day = $(this).data('day');
        var courseid = $(this).data('courseid');
        var categoryid = $(this).data('categoryid');

        // Construct the URL for redirection to view.php with parameters
        var url = 'view.php';
        url += '?view=month';

        // Redirect to the constructed URL
        window.location.href = url;
    });

     // jQuery click event handler for the month view link
    $('a[data-view="day"]').on('click', function(e) {
        e.preventDefault(); // Prevent default link behavior

        // Construct the URL for redirection to view.php with parameters
        var url = 'view.php';
        url += '?view=day';

        // Redirect to the constructed URL
        window.location.href = url;
    });

    // jQuery click event handler for the month view link
    $('a[data-view="upcoming"]').on('click', function(e) {
        e.preventDefault(); // Prevent default link behavior

        // Construct the URL for redirection to view.php with parameters
        var url = 'view.php';
        url += '?view=upcoming';

        // Redirect to the constructed URL
        window.location.href = url;
    });
});
</script>