.table-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 12px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    text-align: center;
}

thead.thead-blue {
    background-color: blue;
    color: white;
}

.table {
    border: 1px solid #dee2e6;
    margin-bottom: 2rem;
}

.container {
    max-width: 960px;
    margin: auto;
}

.btn-danger {
    padding: 4px 10px;
}
