.calls-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.call-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #ddd; 
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
}

.icon-eye {
  margin-right: 10px;
  color: #333;
  cursor: pointer;
}
/* th,td{
  width: 100%;
} */
 .img-user{
  border-radius: 100%;
  margin-right: 5px;
 }


.names {
  font-size: 14px;
  line-height: 1.4;
}

